body {
  background: #131518;
  display: flex,
}

p {
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
}

#container {
  position: relative;
}

#input {
  position: absolute;
}

#sketch {
  display: flex;
  justify-content: center;
  align-items: center;
}